@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');

* {
    //border: solid 1px rgb(125, 42, 220);
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: rgb(218, 218, 218);
}

.card1, .card2, .card3 {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 280px;
}

.card1, .card2, .card3 {
    background-color: rgb(245, 245, 245);
    border-radius: 20px;
    box-shadow: 6px 6px 13px -10px;
}

.main-container {
    display: flex;
    flex-direction: row;
    gap: 40px;
}



.line {
    border: solid rgb(175, 175, 175) 1px;
}
.top-line {
    margin: 30px 70px 15px 70px;
}
.bottom-line {
    margin: 15px 70px 0px 70px;

}

.col1, .col2, .col3 {
    display: flex;
    gap: 20px;
}

.check, .x {
    
}
.check {
    filter: brightness(50%);
    width: 18px;
}
.x {
    filter: brightness(95%);
    width: 15px;
}

.header {
    font-weight: bold;
    padding: 30px 50px;
    font-size: 22px;
    color: white;
    border-radius: 20px 20px 0px 0px;
}

.header-green {
    background-color: #01c0a2;
}
.header-blue {
    background-color: #226aff;
}
.header-orange {
    background-color: #ff6616;
}

.inner-text {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 0px 30px 0px 30px;
}

.price {
    font-size: 50px;
    font-weight: 300;
    padding: 30px;
    text-shadow: white 0px 0px 10px;
}
.price-green {
    color: #01c0a2;
}
.price-blue {
    color: #226aff;
}
.price-orange {
    color: #ff6616;
}

.text-format {
    font-weight: 500;
    color: #505050;
    font-size: 15px;
}

.arrow {
    width: 0px;
    height: 0px;
    border-top: 10px solid red;
    border-left: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid transparent;
    position: relative;
    left: 47%;
    margin: 0;
}
.green {
    border-top: 10px solid #01c0a2;
}
.blue {
    border-top: 10px solid #226aff;
}
.orange {
    border-top: 10px solid #ff6616;
}